= form_for @recipe do |f|
  -if @recipe.errors.any?
    #error
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :style
    = f.text_field :style
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :abv
    = f.text_field :abv
  .field
    = f.label :batch_size
    = f.text_field :batch_size
  .field
    = f.label :notes
    = f.text_area :notes
  .actions
    = f.submit 'Save'
