= form_for @recipe do |f|
  -if @recipe.errors.any?
    #error
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg


  = f.label :name
  = f.text_field :name

  = f.label :style
  = f.text_field :style

  = f.label :beer_type
  %ul.inline-input-list
    = f.select(:beer_type, beer_types)

  = f.label :description
  = f.text_area :description

  = f.label :abv
  = f.text_field :abv

  = f.label :batch_size
  = f.text_field :batch_size

  = f.label :notes
  = f.text_area :notes

  %fieldset
    %h3 Steps
    = f.fields_for :steps do |f|

      = f.label :step_type
      = f.text_area :step_type

      = f.label :amount
      = f.text_field :amount

      = f.label :duration
      = f.time_select :duration

      = f.label :notes
      = f.text_area :notes

      = f.label :temperature
      = f.text_field :temperature




  .actions
    = f.submit 'Save'


