= form_for @recipe do |f|
  -if @recipe.errors.any?
    #error
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    %br
    = f.text_field :name, class: 'long h3'

  .field
    = f.label :description
    %br
    = f.text_area :description, class: 'long'

  .inline-inputs
    .field
      = f.label :style
      %br
      = f.select(:style, beer_styles)
    .field
      = f.label :batch_size
      %br
      = f.number_field :batch_size, class: 'tiny', min: 1, max: 99
      %abbr{title: 'Gallons'} gals.

  %fieldset
    %p= link_to 'Add a note', '#recipe-notes', class: 'minimal button expand-setting'
    #recipe-notes.hidden-setting
      = f.label :notes
      = f.text_area :notes, class: 'long'

  %fieldset
    %h2 The Mash
    .section
      %p= link_to 'Add Water Treatment', '', class: 'minimal button'

    .section
      = f.fields_for :steps do |builder|
        = render 'step_form', f: builder
      %p= link_to 'Add Grains/Malt', '', class: 'minimal button'

    .section
      %p= link_to 'Add Additional Ingredients', '', class: 'minimal button'
  %fieldset
    %h2 Hops
    %h3 Bittering
    %h3 Aroma
  %fieldset
    %h2 Fermenting
  %fieldset
    %h2 Racking
  %fieldset
    %h2 Bottling





  .actions
    = f.submit 'Save'
    %small.stylized &mdash; or &mdash;
    = link_to 'Go back', recipes_path


