%ul.inline-input-list
  - ingredient_types.each do |type_name|
    %li
      %label
        = f.radio_button :ingredient_type, type_name
        = type_name
.dropdown
  .selection
    Select Type
  %ul.options
    - ingredient_types.each do |type|
      %li{'data-val'=>'type'}= type
.field
  = f.label :name
  %br/
  = f.text_field :name