= f.hidden_field :step_type

.inline-inputs
  .field
    = f.label 'Amt'
    %br/
    = f.number_field :amount, class: 'tiny'
  .field
    = f.label 'Temp'
    %br/
    = f.number_field :temperature, class: 'tiny'
  .field
    = f.label :duration
    %br/
    = f.time_select :duration

.field
  = f.label :notes
  %br/
  = f.text_area :notes, class: 'long'