%h1 Recipes

- unless @recipes.empty?
  %table
    %thead
      %tr
        %th Name
        %th Style
        %th ABV
        %th Yield
        %th Description
        
        %th

    - @recipes.each do |recipe|
      %tbody
        %tr
          %td= link_to recipe.name, recipe
          %td= recipe.style
          %td= recipe.abv
          %td= recipe.batch_size
          %td= recipe.description

          %td.nowrap
            = link_to 'Edit', edit_recipe_path(recipe)
            |
            = link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete
- else
  %p You have no recipes. <a href="#{new_recipe_path}">Create a new one!</a>