%h1= @recipe.name
%h2.h3= @recipe.description

.row
  .spans2.align-right
    %strong Style
  .spans14= @recipe.style

.row
  .spans2.align-right
    %strong Type
  .spans14= @recipe.beer_type

.row
  .spans2.align-right
    %strong Abv:
  .spans14= @recipe.abv
.row
  .spans2.align-right
    %strong Batch size:
  .spans14= @recipe.batch_size
.row
  .spans2.align-right
    %strong Notes:
  .spans14= @recipe.notes

%h2 Steps

.row
  - @steps.each do |step|
    = step.step_type

.section.row
  .spans14.offset2= link_to 'Edit', edit_recipe_path(@recipe), class: 'button'
