= form_for @ingredient do |f|
  -if @ingredient.errors.any?
    #error
      %h2= "#{pluralize(@ingredient.errors.count, "error")} prohibited this ingredient from being saved:"
      %ul
        - @ingredient.errors.full_messages.each do |msg|
          %li= msg

  = f.label :name
  = f.text_field :name

  = f.label :type
  = f.text_field :type

  = f.label :notes
  = f.text_area :notes
  
  .actions
    = f.submit 'Save'
