%h1 Ingredients

= link_to 'Add a new Ingredient', new_ingredient_path, class: 'button'

- unless @ingredients.empty?
  %table
    %thead
      %tr
        %th Name
        %th Type
        %th Notes

        %th

    - @ingredients.each do |ingredient|
      %tbody
        %tr
          %td= ingredient.name
          %td= ingredient.type
          %td= ingredient.notes
          
          %td
            = link_to 'Edit', edit_ingredient_path(ingredient)
            |
            = link_to 'Destroy', ingredient, :confirm => 'Are you sure?', :method => :delete

- else
  %p There are no ingredients yet. <a href="#{new_ingredient_path}">Add a new ingredient</a>