%h1 Ingredients

.actions= link_to 'Add a new Ingredient', new_ingredient_path, class: 'button'

- unless @grains.empty?
  %h2= t('grains')
  = render 'table', ingredients: @grains

- unless @grains.empty?
  %h2= t('malts')
  = render 'table', ingredients: @malts

- unless @grains.empty?
  %h2= t('hops')
  = render 'table', ingredients: @hops

- unless @grains.empty?
  %h2= t('yeast')
  = render 'table', ingredients: @yeast

- unless @grains.empty?
  %h2= t('other')
  = render 'table', ingredients: @other
