= form_for @batch do |f|
  -if @batch.errors.any?
    #error
      %h2= "#{pluralize(@batch.errors.count, "error")} prohibited this batch from being saved:"
      %ul
        - @batch.errors.full_messages.each do |msg|
          %li= msg

  
  %h2 Recipe
  = f.label :recipe_id
  = f.number_field :recipe_id
  = f.label :notes
  = f.text_area :notes
  
  
  %h2 Log

  %h3 Brewing
  %ul
    %li Initial Gravity
    %li Starting Gravity

  %h3 After Fermentation/Racking
  %ul
    %li Gravity
    %li ABV

  %h3 Bottling
  %ul
    %li Gravity
    %li Final ABV

  .actions
    = f.submit 'Save'