%h1 Batches

= link_to 'Start a new Batch', new_batch_path, class: 'button'

- unless @batches.empty?
  %table
    %thead
      %tr
        %th Recipe
        %th Abv
        %th Notes
        
        %th

    - @batches.each do |batch|
      %tbody
        %tr
          %td= batch.recipe_id
          %td= batch.abv
          %td= batch.notes

          %td.nowrap
            = link_to 'Edit', edit_batch_path(batch)
            |
            = link_to 'Destroy', batch, :confirm => 'Are you sure?', :method => :delete
- else
  %p You haven't brewed any batches yet. <a href="#{new_batch_path}">Start brewing!</a>