<!DOCTYPE html>
%html
  %head
    %title 8-BIT BEER
    %link{href:'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
  
  %body
    .container
      = render '/layouts/header'
      .system
        - if notice
          .notice= notice
        - if alert
          .alert= alert
      #content
        = yield

      %footer
    
    .clear
    = javascript_include_tag 'application'

    - if brewer_signed_in? and current_brewer.is_admin?
      = render '/layouts/dev'