<!DOCTYPE html>
<html>
<head>
  <title>8-BIT BEER</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <h1><%= link_to '8-BIT BEER', root_path %></h1>
    </header>
    <div id="content">
      <%= yield %>
    </div>
    <footer></footer>
  </div>
  <div class="clear"></div>
  <%= javascript_include_tag "application" %>
</body>

</html>
