<!DOCTYPE html>
%html
  %head
    %title 8-BIT BEER
    %link{href:'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
  
  %body
    .container
      %header
        .inner-content
          %h1= link_to '8-BIT BEER', root_path
          %nav
            - if brewer_signed_in? || brewmeister_signed_in?
              = link_to 'Logout', destroy_brewmeister_session_path, :method => 'delete'
            - elsif where_i_am != new_brewmeister_session_path
              = link_to 'Login', new_brewmeister_session_path
      
      .system
        - if notice
          .notice= notice
        - if alert
          .alert= alert
      #content
        = yield

      %footer
    
    .clear
    = javascript_include_tag 'application'

    - if Rails.env == 'development'
      .clear
      .dev
        = params.inspect
